* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: #fafafa;
    height: 3000px;
}

/*导航栏 start*/
nav:first-child {
    height: 100px;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}

.logo {
    float: left;
}

.nav {
    float: right;

}

.nav li {
    float: left;
    margin: 0 20px;
}

.nav li a {
    color: black;

}

.nav li a:hover {
    color: blue;
}

/*导航栏 end*/

/*广告图片 start*/
.bannnr {
    text-align: center;
    height: 620px;
    background: url("../image/banner.jpg") no-repeat top center;
}

/*广告图片 end*/

/*服务 start*/
.service {
    width: 1055px;
    margin: 75px auto 0;
    /* border: 1px solid green;*/

}

.service .service_hd {
    text-align: center;
    border-top: 1px solid red;
    margin: 0 25px;

}

.service_hd h3 {
    margin: -13px auto 15px;
}

.service_hd p {
    color: #595359;
    font-size: 14px;
    margin: 0 75px;
}

.service_bd {
    overflow: hidden;
    margin-top: 40px;
}

.service_bd li {
    background: white;
    border: 1px solid #ccc;
    width: 320px;
    height: 510px;
    float: left;
}

.service_bd li:nth-of-type(2) {
    margin: 0 44px;
}

.service_ct {
    width: 248px;
    margin: 0 auto;
    text-align: center;
}

.service_ct img {
    margin: 40px auto;
}

.service_ct h3 {
    font-size: 18px;
    font-weight: normal;
}

.service_ct p {
    font-size: 12px;
    color: #666;
    line-height: 26px;
    margin: 10px auto 40px;
}

.service_ct a {
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border: 1px solid orange;
    border-radius: 5px;
    color: orange;
}

.service_ct a:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
}

/*服务 end*/
.classic {
    width: 1055px;
    height: 400px;
    border: 1px solid red;
}
